
.single-valu_people,
.single {
  main#content {
	margin: 25px 0;
  }
  article {
	.entry-image {
	  margin: 15px 0;
	}
  }
}
.search {
	article {
		margin: 0 15px;
	}
}

.archive,
.category,
.search,
.blog {
  div.wrap {
	margin: 15px auto;
	article {
	  padding-bottom: 15px;
	  margin-bottom: 15px;
	  border-bottom: 1px solid $lg1;
	  @media (min-width: $screen-md) {
		padding-bottom: 5px;
		margin-bottom: 25px;
	  }
	}
	.archive-wrapper {
	  padding: 15px 0;
	  @media (min-width: $screen-md) {
		padding: 30px 0;
	  }
	}
	.archive-content-wrap {
	  padding: 0;
	}
  }
}

.page-template-template-dynasty-meetings {
  div.wrap {
	margin: 15px auto;
	.archive-wrapper {
	  padding: 0;
	}
  }
}

.archive {
  .breadcrumbs {
	span[rel='v:child'] {
	  visibility: collapse;
	  a {
		display: none;
	  }
	  .breadcrumb_last {
		visibility: visible;
		padding-left: 0;
		margin-left: -5px;
	  }
	}
  }
}